<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer bg-inverse" data-th-fragment="footer">
    <a id="goToTop" href="#">
        <i class="fa  fa-tree fa-3x" aria-hidden="true"></i>
        <!--<img id="toTopHover" src="http://static.missevan.com/system/topscroll.png">-->
    </a>
    <div class="container">
        <p class="m-0 text-center text-white">© 2018 <a href="https://baidu.com">ibroshan</a></p>
    </div>

    <!-- JavaScript -->
    <script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/static/js/jquery-3.1.1.min.js}"></script>
    <script src="../../static/js/tether.min.js" th:src="@{/static/js/tether.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="../../static/js/nprogress.js" th:src="@{/static/js/nprogress.js}"></script>
    <script src="../../static/js/thinker-md.vendor.min.js" th:src="@{/static/js/thinker-md.vendor.min.js}"></script>
    <!--<script src="../../static/js/jquery.tag-editor.min.js" th:src="@{/static/js/jquery.tag-editor.min.js}"></script>-->
    <script src="../../static/js/chosen.jquery.js" th:src="@{/static/js/chosen.jquery.js}"></script>
    <script src="../../static/js/toastr.min.js" th:src="@{/static/js/toastr.min.js}"></script>
    <script src="../../static/js/cropbox.js" th:src="@{/static/js/cropbox.js}"></script>
    <script src="../../static/js/thymeleaf-bootstrap-paginator.js" th:src="@{/static/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="../../static/js/catalog-generator.js" th:src="@{/static/js/catalog-generator.js}"></script>
    <script src="../../static/js/main.js" th:src="@{/static/js/main.js}"></script>
</footer>

</body>
</html>