<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div id="mainContainer">
                <div id="mainContainerReplace">

                    <div class="card mb-4" th:each="blog : ${blogList}">
                        <div class="card-block">
                            <h3 class="card-title>">
                                <span>
                                    <a href="/u/brs" title="brs" th:href="'/u/'+${blog.username}" th:title="${blog.username}">
                                        <img src="/static/images/ppic.jpg" th:src="${blog.avatar}==null?'/static/images/ppic.jpg':${blog.avatar}" class="blog-avatar-40">
                                    </a>
                                    <a href="/u/brs/blogs/1" th:href="'/u/'+${blog.username}+'/blogs/'+${blog.blogId}" class="card-link" title="brs" th:title="${blog.username}" th:text="${blog.title}">1mybatis懒加载，tostring会触发加载</a>
                                </span>
                            </h3>
                            <p class="card-text" th:text="${blog.summary}">
                                lazyLoadTriggerMethods：指定哪个对象的方法触发一次延迟加载。默认值：equals,clone,hashCode,toString.
                                所以，当打印对象时，由于触发了 toString 方法，所以触发了一次懒加载
                            </p>
                            <div class="card-text">
                                <a href="/u/brs" th:href="'/u/'+${blog.username}" class="card-link" th:text="${blog.username}">brs</a> 发表于 [[${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}]] <i class="fa fa-hand-pointer-o" aria-hidden="true">[[${blog.readSize}]]</i>
                                <i class="fa fa-heart-o" aria-hidden="true">[[${blog.voteSize}]]</i> <i class="fa fa-comment-o" aria-hidden="true">[[${blog.commentSize}]]</i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Pagination -->
            <!--<div th:replace="~{fragments/page :: page}">...</div>-->
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">

            <!-- 热门标签 -->
            <div class="card ">
                <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <a th:each="tag, tagStat : ${tags}" th:object="${tag}" href="/blogs?keyword=1" th:href="'/blogs?keyword=' +  *{name}">
                                <span class="badge" th:classappend="${tagStat.index} eq 0 ? 'badge-danger': (${tagStat.index} eq 1 ? 'badge-warning':(${tagStat.index} eq 2 ? 'badge-info':'badge-default'))"th:text="*{name}">Web Design</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 热门用户 -->
            <div class="card my-4">
                <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门用户</h5>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <span th:each="user: ${users}" th:object="${user}">
                                <a href="/u/waylau" th:href="'/u/' + *{username}" title="waylau" th:title="*{username}">
								    <img src="/static/images/ppic.jpg" th:src="*{avatar} == null ? '/static/images/ppic.jpg' : *{avatar}" class="blog-avatar-40">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 热门文章 -->
            <div class="card my-4">
                <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门文章</h5>

                <div class="list-group">
                    <ul class="list-group" th:each="hotblog , hotblogStat : ${hotest}" th:object="${hotblog}">
                        <a th:href="'/u/'+*{username} +'/blogs/'+ *{blogId}" class="list-group-item">
                            [[*{title}]]<span class="badge badge-pill" th:classappend="${hotblogStat.index} eq 0 ? 'badge-danger': (${hotblogStat.index} eq 1 ? 'badge-warning':(${hotblogStat.index} eq 2 ? 'badge-info':'badge-default'))">[[*{readSize}]]</span>
                        </a>
                    </ul>
                </div>

            </div>

            <!-- 最新发布 -->
            <div class="card my-4">
                <h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
                <div class="list-group">
                    <ul class="list-group" th:each="newblog : ${newest}" th:object="${newblog}">
                        <a th:href="'/u/'+*{username} +'/blogs/'+ *{blogId}" class="list-group-item" th:text="*{title}"></a>
                    </ul>
                </div>
            </div>
        </div>


    <!-- /.row -->

</div>
</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}"></div>

<script src="../static/js/index.js" th:src="@{/static/js/index.js}"></script>
</body>
</html>